<<<<<<< HEAD
html {
  width: 100%;
}

#root{
  width: 100%;
}

.App {
  text-align: center;
  width: 100%;
=======
.App {
  text-align: center;
>>>>>>> 1d9195a3aade667806b3d0f56656f64a640e7aab
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
<<<<<<< HEAD

::-webkit-scrollbar {
  display: none;
}
=======
>>>>>>> 1d9195a3aade667806b3d0f56656f64a640e7aab
